@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes:
    light --default,
    dracula --prefersdark;
  logs: false;
}

* {
  scrollbar-width: thin;
}

@theme {
  --font-sans:
    'Noto Sans Variable', 'Noto Sans SC Variable', 'ui-sans-serif', 'system-ui', 'sans-serif', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --app-h: calc(100vh - 3.125rem);

  --color-border: color-mix(in oklab, var(--color-base-content) 15%, transparent);
  --color-surface: color-mix(in oklab, var(--color-primary) 30%, var(--color-base-content) 70%);
  --color-emphasis: color-mix(in oklab, var(--color-primary) 40%, var(--color-neutral) 60%);
  --color-base-150: color-mix(in oklab, var(--color-base-100) 50%, var(--color-base-200) 50%);
}

@layer base {
  html {
    overscroll-behavior: none;
  }

  body {
    overscroll-behavior: none;
    font-variant-numeric: tabular-nums;
    font-family: var(--font-sans);
  }
}

@layer components {
  .border,
  .border-x,
  .border-y,
  .border-s,
  .border-e,
  .border-t,
  .border-r,
  .border-b,
  .border-l {
    @apply border-border!;
  }

  .input,
  .select {
    &:has(> input[disabled]),
    &:has(> select[disabled]),
    &:is(:disabled, [disabled]),
    fieldset:disabled & {
      @apply border-base-content/10!;
    }
  }

  .input,
  .select,
  .textarea,
  .file-input {
    @apply transition-colors;
    &:focus,
    &:focus-within {
      @apply border-primary/80! outline-none!;
    }
  }

  .modal-box {
    @apply mt-4 flex max-h-[90%]! flex-col gap-4 overscroll-none! p-4!;
    > form {
      @apply flex flex-col gap-4;
    }
    .modal-title {
      @apply mr-8 flex flex-wrap items-center gap-2 text-lg font-semibold;
    }
    .modal-corner {
      @apply absolute top-2.5 right-2.5;
      > button {
        @apply btn btn-circle size-8 btn-subtle font-mono text-xl;
      }
    }
    .modal-action {
      @apply mt-4!;
      > button {
        @apply min-w-20;
      }
    }
  }

  .collapse-title {
    @apply flex items-center gap-1 bg-base-150 py-2! text-sm text-base-content/80 [&:after]:top-[1.2rem]!;
  }
}

@utility gradient {
  text-shadow: 0 1px oklch(0% 0 0 / 5%);
  background-color: var(--color-base-150);
  background-image: linear-gradient(135deg, oklch(100% 0 0 / 20%) 0%, oklch(0% 0 0 / 0%) 100%);
}

@utility btn-submit {
  --btn-color: var(--color-emphasis);
  --btn-fg: var(--color-neutral-content);
}

@utility btn-subtle {
  @apply btn-ghost hover:bg-base-content/10;
  &:is(:disabled, [disabled], .btn-disabled) {
    background-color: transparent !important;
  }
}

@utility menu-emphasis {
  @apply glass bg-emphasis/85 text-neutral-content;
  background-image:
    linear-gradient(135deg, oklch(100% 0 0 / 30%) 0%, oklch(0% 0 0 / 0%) 100%),
    linear-gradient(100deg, oklch(100% 0 0 / 5%) 20%, oklch(0% 0 0 / 0%) 20%);
}

@utility shadow-around {
  box-shadow:
    1px 2px 6px 0 rgb(0 0 0 / 0.1),
    0 0 3px -1px rgb(0 0 0 / 0.2);
}

@utility scrollbar-none {
  scrollbar-width: none !important;
}

@utility rounded-container {
  @apply rounded-box border border-border bg-base-100 p-4 shadow-xs;
}

.tippy-box[data-theme~='default'] {
  @apply gradient bg-neutral/90 text-xs text-neutral-content;
}
.tippy-box[data-theme~='follow-cursor'] {
  @apply mt-2 ml-2 gradient bg-neutral/90 text-xs text-neutral-content;
}
