name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # matches semantic versioning tags like v1.2.3

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
          - platform: 'macos-latest' # for Intel based macs.
            args: '--target x86_64-apple-darwin'
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: generate changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          mode: COMMIT
          configurationJson: |
            {
              "categories": [
                {
                  "title": "### :sparkles: New Features",
                  "labels": ["feat"]
                },
                {
                  "title": "### :hammer: Bug Fixes",
                  "labels": ["fix"]
                }
              ],
              "commit_template": "- [#{{TITLE}}](https://github.com/C5H12O5/TextGO/commit/#{{MERGE_SHA}}) (by [@#{{AUTHOR}}](https://github.com/#{{AUTHOR}}))"
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: setup rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install pnpm
        run: npm install -g pnpm

      - name: install frontend dependencies
        run: pnpm install

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: 'v__VERSION__'
          releaseName: 'v__VERSION__'
          releaseBody: ${{ steps.changelog.outputs.changelog }}
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}
